#caricamento{
  font-size: large;
}
#cardBody{
  border-radius: 10px;
  height: 200px;
  width: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-items: center;
  box-shadow: 20px 15px lightgrey;
  background-color: whitesmoke;

}

